* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(132, 216, 219);
}


.App {
    max-width: 100%;
    display: flex;
}
.header span{
    color: aquamarine;

}
.nav ul{
    display: flex;
    justify-content: space-between;
}
.nav li{
    margin: 8px;
    list-style-type: none;
}
.nav li a{
    text-decoration: none;
    color: aquamarine;
}
.container{
    display: flex;
    justify-content: center;
}
.container_messages{
    /*display: flex;*/
    justify-content: center;
    align-items: center;
}
.form_text {
    max-width: 100%;
    /*margin: 0 0 15px 0;*/
    border-radius: 5px;
    margin-bottom: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

}

.form_btn {
    margin-top: 25px;

}

.messages {
    display: flex;
    flex-direction: column;
    /* max-width: 80%; */
    max-height: 80%;
    margin: 15px 0;
    background: rgb(131, 187, 233);
    border-radius: 7px;
    border-left: 9px solid rgb(5, 182, 34);
    border-right: 9px solid rgb(5, 182, 34);
    padding: 16px;
}

.messages_each {
    margin-top: 2px;
    display: flex;
    /* width: 100%; */
    align-items: self-start;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    padding: 5px;
    background-color: #fff;
    border: .3px solid rgb(204, 105, 105);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 450px;
    align-items: center;
    margin: 7px 0;
    background: rgb(131, 187, 233);
    border-radius: 7px;
    border-left: 9px solid rgb(5, 182, 34);
    border-right: 9px solid rgb(5, 182, 34);
    padding: 16px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;

}
.chat_list{
    margin: 10px;
}
.chat_list_form{
    margin-bottom: 10px;
    border-radius: 5px;
}
.wrapper{
    display: flex;
    justify-content: space-evenly;
}
/* textarea {
    width: 250px;
    height: 200px;
    background-color: rgb(202, 194, 194);
} */