* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: cadetblue;
}

.App {
    max-width: 100%;
    display: flex;
}

.messages {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 15px 25px;
}

.messages_each {
    margin-top: 5px;
    display: flex;
    width: 100%;
    align-items: self-start;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    border-bottom: 1px solid rgb(204, 105, 105);
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    align-items: center;
    margin: 55px 10px 10px;
}

textarea {
    width: 250px;
    height: 200px;
    background-color: rgb(202, 194, 194);
}